<a href="https://colab.research.google.com/github/jisang93/Coding_Train/blob/master/01_%EC%9E%85%EC%B6%9C%EB%A0%A5%EA%B3%BC_%EC%82%AC%EC%B9%99%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Hello World!를 출력하시오.**

In [ ]:
print("Hello World!")

Hello World!

**2. 강한친구 대한육군 강한친구 대한육군**

In [ ]:
print("강한친구 대한육군\n강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

**3. 고양이**

In [ ]:
print("""\\    /\\\n )  ( ')\n(  /  )\n \\(__)|""")

\    /\
 )  ( ')
(  /  )
 \(__)|

**4. 강아지**

In [21]:
print('''|\\_/|\n|q p|   /}\n( 0 )"""\\\n|"^"`    |\n||_/=\\\\__|''')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

**5. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.**

In [32]:
a, b = map(int, input().split())
print(a + b)

1 2
3

**6. 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.**

In [33]:
a, b = map(int, input().split())
print(a - b)

2 1
1

**7. 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.**

In [34]:
a, b = map(int, input().split())
print(a * b)

1 2
2

**8. 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.**

In [36]:
a, b = map(int, input().split())
print(a/b)

1 3
0.3333333333333333

**9. 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, AxB, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.**

In [50]:
a, b = map(int, input().split())
print(a + b)
print(a - b)
print(a * b)
print(int(a / b))
print(a % b)

7 3
10
4
21
2
1

**10. 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.**

(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

In [53]:
a, b, c = map(int, input().split())
print((a + b) % c)
print(((a % c) + (b % c)) % c)
print((a * b) % c)
print(((a % c) * (b % c)) % c)

5 8 4
1
1
0
0

**11. 세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.**

![image.png]()

(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

In [74]:
a = input()
b = input()
print(int(a) * int(b[2]))
print(int(a) * int(b[1]))
print(int(a) * int(b[0]))
print(int(a) * int(b))

472
385
2360
3776
1416
181720