<a href="https://colab.research.google.com/github/jisang93/Coding_Train/blob/master/03_for%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1번 문제**

N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

In [2]:
a = int(input())
for i in range(1, 10):
    print("{} * {} = {}".format(a, i, a*i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

**2번 문제**

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

- 입력

    첫째 줄에 테스트 케이스의 개수 T가 주어진다.

    각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [5]:
t = int(input())
for i in range(t):
    a, b = map(int, input().split())
    print(a + b)

2
1 3
4
2 5
7

**3번 문제**

n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [8]:
n = int(input())
m = 0
for i in range(1, n+1):
    m += i
print(m)

3
6

**4번 문제**

- 본격적으로 for문 문제를 풀기 전에 주의해야 할 점이 있다. 입출력 방식이 느리면 여러 줄을 입력받거나 출력할 때 시간초과가 날 수 있다는 점이다. Python을 사용하고 있다면, input 대신 sys.stdin.readline을 사용할 수 있다. 단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해 주는 것이 좋다.

* 입력

    첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다. 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.

In [6]:
import sys
input = sys.stdin.readline() # 백준에서만 됨
t = int(input)
# for i in range(t):
#     a, b = map(int, input_data.split())
#     print(a + b)

ValueError: ignored

**5. N찍기**

자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

- 입력
    
    첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.

- 출력

    첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [1]:
n = int(input())
for i in range(1, n+1):
    print(i)

5
1
2
3
4
5

**6. 기찍N**

자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

- 입력

    첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.

- 출력

    첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [5]:
n = int(input())
for i in range(n):
    print(n - i)

5
5
4
3
2
1

**7. A+B**

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

- 입력

    첫째 줄에 테스트 케이스의 개수 T가 주어진다.

    각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

- 출력 

    각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

In [1]:
t = int(input())
for i in range(t):
    a, b = map(int, input().split())
    print("Case #{}: {}".format(i+1, a+b))

3
1 2
Case #1: 3
1 1
Case #2: 2
2 2
Case #3: 4

**8. A+B**

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

- 입력

    첫째 줄에 테스트 케이스의 개수 T가 주어진다.

    각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

- 출력

    각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다. x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.

In [2]:
t = int(input())
for i in range(t):
    a, b = map(int, input().split())
    print("Case #{}: {} + {} = {}".format(i+1, a, b, a+b))

2
1 2
Case #1: 1 + 2 = 3
2 4
Case #2: 2 + 4 = 6

**9. 별 찍기 - 1**

첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [3]:
n = int(input())
for i in range(n):
    print('*'* (i+1))

3
*
**
***

**10. 별 찍기 - 2** # 출력형식 오답

첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

In [22]:
n = int(input())
for i in range(1, n+1):
    print(" "*(n-i),"*"*(i))

5
     *
    **
   ***
  ****
 *****

**11. X보다 작은 수**

정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

- 입력
    
    첫째 줄에 N과 X가 주어진다. (1 ≤ N, X ≤ 10,000)

    둘째 줄에 수열 A를 이루는 정수 N개가 주어진다. 주어지는 정수는 모두 1보다 크거나 같고, 10,000보다 작거나 같은 정수이다.

- 출력

    X보다 작은 수를 입력받은 순서대로 공백으로 구분해 출력한다. X보다 작은 수는 적어도 하나 존재한다.

In [39]:
n, x = map(int, input().split())
a = map(int, input().split())

for i in a:
    if i < x:
        print(i, end=' ')

10 8
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7